$mini-font-size = 12px
$small-font-size = 14px
$medium-font-size = 16px
$large-font-size = 20px

$theme-color = #3177ff
$theme-text-color = #333
$theme-text-gray-color = #666

_theme-border($size, $color = #666)
    border $size solid $color



// _test-fun(arg)
// // 1px 2px 3px 4px 5px 6px
//     for i in arg
//         .test-class-{i}
//             font-size i





